.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #111618;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div{
  
  text-align: justify;
  

}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.p {
  display: flex;
  justify-content: space-between;
}
.left
{
  float: left;
}

.right
{
  float: right;
}
.link {
  text-decoration: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}
.f-button {
  width: 830px;
  height: 60px;
  background:warning;
  padding: 8px ,16px;
  
}